@use "./common/variables.scss";

.about-us {
  padding: 32px 30px 0 31px;
}

.about-us__caption {
  margin-bottom: 26px;
}

@media (min-width: variables.$tablet-width) {
  .about-us {
    padding: 57px 50px 27px;
    max-width: 800px;
  }

  .about-us__caption {
    margin-bottom: 41px;
  }
}

@media (min-width: variables.$desktop-width) {
  .about-us {
    padding-top: 70px;
    padding-bottom: 34px;
  }

  .about-us__caption {
    margin-bottom: 39px;
  }
}
