@use "./common/variables.scss";

.about-us {
  padding: 30px 30px 24px 30px;
}

.about-us__caption {
  margin-bottom: 26px;
}

@media (min-width: variables.$tablet-width) {
  .about-us {
    padding: 56px 50px 27px;
    max-width: 800px;
  }

  .about-us__caption {
    margin-bottom: 41px;
  }
}

@media (min-width: variables.$desktop-width) {
  .about-us {
    padding-top: 71px;
    padding-bottom: 34px;
  }

  .about-us__caption {
    margin-bottom: 39px;
  }
}
