.button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  display: block;
  text-align: center;

  &--secondary {
    border: 2px solid #444444;
    color: #444444;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    padding: 13px 15px 15px;
  }

  &--form {
    font-size: 17px;
    padding: 16px 15px 12px;
  }
}
