@use "./common/variables.scss";

@media (min-width: variables.$tablet-width) {
  .header {
    max-width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: variables.$desktop-width) {
  .header {
    max-width: 1150px;
  }
}
