@use "./common/variables.scss";

.logo-academy {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 23px;
  padding-bottom: 31px;
  padding-left: 38px;
  padding-right: 38px;
  align-items: flex-start;
  color: inherit;

  &:hover svg {
    fill: #46c1ae;
  }

  &:active svg {
    fill: #46c1ae;
    opacity: 0.3;
  }

  &:focus,
  &:focus-visible {
    outline-offset: -3px;
  }
}

.logo-academy__icon {
  fill: #63d1bb;
}


.logo-academy__text {
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
  padding-top: 6px;
  max-width: 145px;
}

@media (min-width: variables.$tablet-width) {
  .logo-academy {
    padding: unset;
    column-gap: 26px;
  }

  .logo-academy__text {
    padding-top: 8px;
  }
}

@media (min-width: variables.$desktop-width) {
  .logo-academy {
    column-gap: 28px;
  }
}
