@use "./common/variables.scss";

.modal-group {
  border: none;
  margin: 0;
  padding: 0;
}

.modal-group__wrapper {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 7px;
  row-gap: 7px;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.modal-group__label {
  display: flex;
  width: 82px;
  min-height: 52px;
  border: 2px solid rgba(69, 69, 69, 0.1);
  cursor: pointer;
  color: #444444;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;

  &:hover {
    border: 2px solid rgba(69, 69, 69, 0.3);
  }

  &:focus,
  &:focus-visible {
    outline: 1px solid #000000;
  }

  &:active {
    border: 2px solid #61d1bb;
  }

  .modal-group__radio:disabled + & {
    opacity: 0.1;
    color: rgba(0, 0, 0, 0.1);
  }
}

.modal-group__radio:checked + .modal-group__label {
  border: 2px solid #63d1bb;
}

.modal-group__radio:checked:active + .modal-group__label {
  border-color: rgba(98, 208, 186, 0.5);
}

.modal-group__radio:checked:hover + .modal-group__label {
  color: rgba(69, 69, 69, 0.3);
}

.modal-group__radio:checked:focus-visible + .modal-group__label {
  outline: 1px solid #000000;
  outline-offset: 2px;
}

@media (min-width: variables.$tablet-width) {
  .modal-group__label {
    width: 112px;
  }
}
