@use "./common/variables.scss";

.socials {
  list-style-type: none;
  margin: 0;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 28px 20px 31px;
  column-gap: 29px;
}

.socials__link {
  display: block;

  &:hover::before {
    background-color: #46c1ae;
  }

  &:active::before {
    background-color: #46c1ae;
    opacity: 0.3;
  }

  &:focus-visible {
    outline-offset: 5px;
  }

  &--vk::before {
    content: "";
    display: block;
    width: 28px;
    height: 22px;
    mask-image: url("../img/icons/sprite.svg#vkontakte");
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: #231f20;
  }

  &--youtube::before {
    content: "";
    display: block;
    width: 28px;
    height: 22px;
    mask-image: url("../img/icons/sprite.svg#youtube");
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: #231f20;
  }

  &--telegram::before {
    content: "";
    display: block;
    width: 28px;
    height: 22px;
    mask-image: url("../img/icons/sprite.svg#telegram");
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: #231f20;
  }
}

@media (min-width: variables.$tablet-width) {
  .socials {
    border-bottom: none;
    padding: unset;
    padding-top: 5px;
  }
}

@media (min-width: variables.$desktop-width) {
  .socials {
    padding: 6px 0 0 0;
  }
}
