@use "./common/variables.scss";

.catalog-card {
  display: block;
  border: 1px solid #ededed;
  cursor: pointer;
  color: inherit;

  &:hover {
    border: 1px solid #ededed;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    border: 1px solid #ededed;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }

  &:focus-visible {
    border: none;
    box-shadow: none;
    //outline-offset: 1px;
  }
}

.catalog-card__img {
  margin: 0 auto;
}

.catalog-card__text {
  padding-top: 28px;
  padding-left: 28px;
  padding-right: 28px;
}

.catalog-card__desc {
  padding: 0;
  color: #444444;
  font-size: 13px;
  font-weight: 400;
  line-height: 39px;
  margin: 0 0 12px;
}

.catalog-card__price {
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
}

.catalog-card__cart-wrapper {
  border-top: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 25px;
  padding-right: 25px;
  display: block;
  position: relative;

  /*&::after {
    content: "";
    display: block;
    width: 20px;
    height: 19px;
    mask-image: url("../img/icons/sprite.svg#cart");
    mask-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    right: -2px;
    top: 23px;
  }*/
}

/*.catalog-card__cart-wrapper {
  display: block;

  &:hover::after {
    background-color: variables.$color-primary;
  }

  &:active::after {
    background-color: variables.$color-primary;
    opacity: 0.3;
  }
}*/
.catalog-card__cart {
  border: none;
  padding: 0;
  display: block;
  width: 20px;
  height: 19px;
  mask-image: url("../img/icons/sprite.svg#cart");
  mask-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  right: -2px;
  top: 23px;
  cursor: pointer;

  &:hover,
  &:focus,
  &:focus-visible {
    background-color: variables.$color-primary;
    outline: none;
  }

  &:active {
    background-color: variables.$color-primary;
    opacity: 0.3;
  }
}

.catalog-card__caption-wrapper {
  color: inherit;
}

@media (min-width: variables.$tablet-width) {
  .catalog-card {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }

  .catalog-card__desc {
    font-size: 15px;
    line-height: 30px;
    margin: 0 0 auto;
  }

  .catalog-card__text {
    padding-left: 32px;
    padding-right: 40px;
    width: 334px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .catalog-card__price {
    font-size: 17px;
    line-height: 24px;
  }

  .catalog-card__caption {
    margin-bottom: 5px;
  }

  .catalog-card__cart {
    right: -7px;
  }
}

@media (min-width: variables.$desktop-width) {
  .catalog-card {
    flex-direction: column;
  }

  .catalog-card__text {
    padding-left: 27px;
    padding-top: 28px;
    width: 314px;
    flex-grow: 1;
  }

  .catalog-card__desc {
    margin: unset;
    padding-bottom: 13px;
  }

  .catalog-card__cart-wrapper {
    margin-top: auto;

    &::after {
      right: -10px;
    }
  }

  .catalog-card__caption {
    margin-bottom: 5px;
  }
}
