@use "./common/variables.scss";

.form-caption {
  color: variables.$color-primary;
  margin: 0;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  padding-left: unset;
  padding-right: unset;
  cursor: pointer;
  display: grid;
  grid-template-columns: 58px 1fr;

  &::after {
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    background-color: #63d1bb;
    margin-top: 7px;
  }
}

@media (min-width: variables.$tablet-width) {
  .form-caption {
    width: 167px;
    padding-right: 15px;
    display: inline-block;

    &::after {
      display: none;
    }
  }

  .form-caption__text {
    padding-right: unset;
    background-color: transparent;
    width: 150px;

    .user-contacts__caption & {
      padding-top: 31px;
    }
  }
}

@media (min-width: variables.$desktop-width) {
  .form-caption {
    padding-left: unset;
    width: 113px;
  }

  .form-caption__text {
    width: 80px;

    .user-contacts__caption & {
      padding-top: 33px;
    }
  }
}
