@use "./common/variables.scss";

.form-group__wrapper {
  background-color: #f1f1f1;
  padding: 70px 30px 74px;
  margin-bottom: 17px;
}

.form-group__text {
  margin-bottom: 30px;
}

@media (min-width: variables.$tablet-width) {
  .form-group__wrapper {
    min-height: 167px;
    padding-top: 30px;
    margin-bottom: 54px;
  }

  .form-group__text {
    margin-bottom: 66px;
  }
}

@media (min-width: variables.$desktop-width) {
  .form-group__wrapper {
    min-height: 191px;
    margin-bottom: 109px;
  }

  .form-group__text {
    margin: 0 auto 65px;
  }
}
