@use "./common/variables.scss";

.radio {
  padding-left: 60px;
  min-height: 40px;
}

.radio__label {
  position: relative;
  min-height: 26px;
  display: inline-block;
  cursor: pointer;

  &::before {
    content: "";
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 50%;
    border: 2px solid #444444;
    position: absolute;
    left: -60px;
    top: -1px;
  }

  .radio__input:checked ~ &::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-color: #61d1ba;
    border-radius: 50%;
    position: absolute;
    top: 11px;
    left: -48px;
  }
}

.radio__text {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
}

.radio__input {
  &:hover ~ .radio__label::before {
    border-color: #62d1ba;
  }

  &:active ~ .radio__label::before {
    border-color: rgba(0, 0, 0, 0.3);
  }

  &:focus + .radio__label::before,
  &:focus-visible + .radio__label::before {
    outline: 1px solid #000000;
    outline-offset: 5px;
  }
}


@media (min-width: variables.$tablet-width) {
  .radio {
    padding-left: 77px;
    padding-top: 14px;
  }

  .radio__text {
    font-size: 19px;
    font-weight: 700;
  }

  .radio__label {
    &::before {
      width: 50px;
      height: 49px;
      left: -77px;
      top: -14px;
    }

    .radio__input:checked ~ &::after {
      width: 20px;
      height: 20px;
      top: 0;
      left: -62px;
    }
  }
}

@media (min-width: variables.$desktop-width) {
  .radio {
    padding-left: 79px;
  }

  .radio__label {
    &::before {
      left: -79px;
      top: -13px;

      .radio__input:checked ~ & {
        top: -13px;
        left: -79px;
      }
    }

    &::after {
      .radio__input:checked ~ & {
        top: 1px;
        left: -64px;
      }
    }
  }
}
