@use "./common/variables.scss";

.type {
  margin: 0;
  padding: 0 30px 15px;
  border: none;
}

.type__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.type__caption {
  margin-bottom: 33px;
}

.type__item {
  margin-bottom: 14px;

  &:nth-child(2) > .radio__label {
    padding-top: 6px;
  }
}

@media (min-width: variables.$tablet-width) {
  .type {
    padding: 0 50px;
  }

  .type__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .type__caption {
    width: 170px;
    padding-top: 15px;
  }

  .type__item {
    margin-bottom: 37px;

    &:nth-child(2) > .radio__label {
      padding-top: unset;
    }
  }
}

@media (min-width: variables.$desktop-width) {
  .type {
    padding: 0 111px 21px;
    max-width: 1150px;
  }

  .type__caption {
    padding-top: 19px;
    width: 115px;
  }
}
