@use "./common/variables.scss";

.user-phone {
  position: relative;

  &::after {
    content: "";
    width: 25px;
    height: 24px;
    display: block;
    mask-image: url("../img/icons/sprite.svg#phone");
    mask-repeat: no-repeat;
    background-color: #000000;
    opacity: 0.2;
    position: absolute;
    top: 15px;
    right: 7px;
  }
}

@media (min-width: variables.$tablet-width) {
  .user-phone {
    &::after {
      top: 26px;
      right: 26px;
    }
  }
}

@media (min-width: variables.$desktop-width) {
  .user-phone {
    &::after {
      top: 26px;
      right: 8px;
    }
  }
}
